{% extends ('base.html.twig') %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Count</td>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {% include 'elements/item/itemList.html.twig' with {'item':item.product, 'count':item.count} %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4 class="float-end cart-sum">Suma: <b>{{ total }}</b>zł</h4><br><br>
    <button class="btn btn-danger reset-cart">Usuń wszystko</button>  <a href="{{ path('checkout_shipping') }}"><button class="btn btn-primary float-end">Zapłać</button></a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function ()
        {
            $('.reset-cart').click(function() {
                console.log("!!!");
                ClearCart();
                UpdateCart();
                $('tbody').empty();
                $('.cart-sum').html("Suma: <b>0</b>zł");
            });
            console.log("!!!!!!");
        });
    </script>
{% endblock %}