{% extends ('base.html.twig') %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <a><button class="btn btn-primary w-100" id="submit">{{ button_label|default('Save') }}</button></a>
    {{ form_end(form) }}

{% endblock %}